# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples

### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [2]:
tup = tuple(range(1,11))
print(tup)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [5]:
first,middle,last = tup[0], len(tup)//2 ,tup[-1]

print(first)
print(middle)
print(last)

1
5
10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [7]:
print(tup[:3])
print(tup[-3:])
print(tup[2:6])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [16]:
nested_tuple = ([1,2,3,4],["a","b","c","d"],"HI")

for i in nested_tuple:
    print(i)
print(nested_tuple[1][2])

[1, 2, 3, 4]
['a', 'b', 'c', 'd']
HI
c

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [18]:
tup_1 = (1,2,3)
tup_2 = (4,5,6)

print(tup_1 + tup_2)

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [19]:
tpl = (1, 2, 2, 3, 4, 4, 4, 5)
print(f"Occurrences of 4: {tpl.count(4)}")
print(f"Index of first occurrence of 2: {tpl.index(2)}")

Occurrences of 4: 3
Index of first occurrence of 2: 1

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [20]:
tpl = (1, 2, 3, 4, 5)
a, b, c, d, e = tpl
print(a, b, c, d, e)

1 2 3 4 5


### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [21]:
tup = tuple (list(range(1,6)))

print(tup)

(1, 2, 3, 4, 5)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [22]:
tpl_of_tpls = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
print(tpl_of_tpls)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [23]:
tpl = (1, 2, 3, 4, 5)
lst = list(tpl)
lst.append(6)
tpl = tuple(lst)
print(tpl)

(1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [24]:
string = "hello"
tpl = tuple(string)
joined_string = ''.join(tpl)
print(joined_string)

hello

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [26]:
dic = {
    (1,2): "first", 
    (-1,2): "second", 
    (1,-2): "third" 
}

print(dic)

{(1, 2): 'first', (-1, 2): 'second', (1, -2): 'third'}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [27]:
nested_tpl = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
for tpl in nested_tpl:
    for elem in tpl:
        print(elem)

1
2
3
4
5
6
7
8
9

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [28]:
d_tup = (1,2,2,1,2,3,3,3,1)

nd_set = set(d_tup)
print(tuple(nd_set))

(1, 2, 3)

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [31]:
def min_max_sum(tup):
    min_tup = min(tup)
    max_tup = max(tup)
    s = sum(tup)
    return (min_tup,max_tup,s)

print(f"my tup: {tup}")
print(f"(min,max,sum)={min_max_sum(tup)}")

my tup: (1, 2, 3, 4, 5)
(min,max,sum)=(1, 5, 15)