# Module 3: Data Structures Assignments
## Lesson 3.3: Sets

### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [54]:
n_set = set(range(1,11))
print(n_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [49]:
n_set.add(11)
print(n_set)
n_set.remove(1)
print(n_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [50]:
set_one = set(range(1,6))
set_two = set(range(2,11,2))
print(set_one)
print(set_two)

{1, 2, 3, 4, 5}
{2, 4, 6, 8, 10}

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [51]:
sq_set = set(x*x for x in range(1,11))
print(sq_set)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [57]:
a_set = {x for x in n_set if x%2==0}
print(a_set)

{2, 4, 6, 8, 10}

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [34]:
d_set = {1,2,2,2,3,4,1,5,6}
print(d_set)

{1, 2, 3, 4, 5, 6}

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [59]:
print(a_set.issubset(n_set))
print(n_set.issuperset(a_set))

True
True

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [60]:
froz_set = frozenset({1,2,3,4.5})
print(froz_set)

frozenset({1, 2, 3, 4.5})

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [62]:
f_set = set(range(1,10))
lst_f_set = list(f_set)
lst_f_set.append(6)
f_set = set(lst_f_set)
print(f_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [65]:
dic_set = {
    frozenset({"a","b"}) : 1,
    frozenset({"c","d"}) : 2,
    frozenset({"e","f"}) : 3,
}
print(dic_set)

{frozenset({'a', 'b'}): 1, frozenset({'c', 'd'}): 2, frozenset({'e', 'f'}): 3}

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [72]:
iter_set = {1,2,3,4,5,6,7,9,11}
temp_list = list(iter_set)

for i in range(len(temp_list)):
    print(temp_list[i])

1
2
3
4
5
6
7
9
11

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [75]:
iter_set = {1,2,3,4,5,6,7,9,11}
temp_list = list(iter_set)

for i in range(len(temp_list)):
    temp_list.pop()

iter_set = set(temp_list)
print(iter_set)

set()

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [77]:
print(n_set,a_set)
n_set.symmetric_difference_update(a_set)
print(n_set)

{1, 3, 5, 7, 9} {2, 4, 6, 8, 10}
{1, 3, 5, 6, 7, 4, 9, 2, 8, 10}

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [78]:
print(200 in n_set)

False

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [93]:
#tup_set = {((1,2,3),(4,5,6)), ((7,8,9),(10,11,12)), ((13,14,15),(16,17,18))}
tup_set = {(1,4), (14,15),(16,14)}

for out_tup in tup_set:
    for in_tup in out_tup:
        #for i in in_tup:
        print(in_tup)

16
14
14
15
1
4